/* Estilos para o modal */
.p-dialog {
  .p-field {
    margin-bottom: 1rem;

    label {
      display: block;
      margin-bottom: 0.5rem;
      font-weight: 500;
    }
  }
}

div.item-pagina-list {
  justify-content: center;
  display: flex;
  padding: 3rem 3rem;
}

div.list-card {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;

  .item {
    width: 30rem;
    display: flex;
    background: var(--cor-tema-3);
    color: #FFF;
    height: 8rem;
    align-items: center;
    border-radius: 2rem;
    flex-direction: column;

    .body-card {
      display: flex;
      padding: 2rem 4rem 1rem;
      width: 100%;
      justify-content: space-between;
    }

    .card-footer {
      display: flex;
      justify-content: end;
      width: 100%;
      padding-right: 20px;
    }
  }

  span.status, .msg {
    color: var(--cor-tema-5);
    font-weight: 500;
    font-family: 'Kreon', Verdana, sans-serif;
  }

}


/* Estilo para o botão de ação único */
.button-action.ui-button-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);

  &:hover {
    background-color: var(--primary-color-dark);
    border-color: var(--primary-color-dark);
  }
}

/* Ajustes nos cards */
.list-card {
  .item {
    .card-footer {
      justify-content: center;
      padding: 1rem 0 0;
    }
  }
}
